# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables

# Logs
*.log
logs/

# SQLite database files
*.sqlite3
*.db

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace

# Flask static files
static/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
